#NewGame{
    font-size: 20px;
    font-weight: bold;
}

#MainWindow button{	
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border-color: #FFFFFF
}

#MainWindow button#marked{
	background: #00FFFF;
}

#MainWindow button#marked_fixed{
	background: #00FFFF;
}

#MainWindow button:focus{
	background: #70e070;
}

#MainWindow button#fixed:focus{
	background: #ff3030;
}

#MainWindow button:hover{ 
	transition: 300ms linear;
	background: #70e070;
}

#MainWindow button#fixed:hover{
	transition: 300ms linear;
	background: #ff3030;
}