#NewGame{
    font-size: 20px;
    font-weight: bold;
}

#MainWindow {

}

#MainWindow GtkButton{
	background: #FFFFFF;
	border-color: #000;
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

#MainWindow GtkButton#marked{
	background: #00FFFF;
}

#MainWindow GtkButton#marked_fixed{
	background: #00FFFF;
}

#MainWindow GtkButton:focused{
	background: #70e070;
}

#MainWindow GtkButton#fixed:focused{
	background: #ff3030;
}

#MainWindow GtkButton:hover{ 
	transition: 200ms linear;
	background: #70e070;
}

#MainWindow GtkButton#fixed:hover{
	transition: 200ms linear;
	background: #ff3030;
}